h1:first-child {
    color: #3c86c7;
    padding-bottom: 0;
}

h1 + blockquote {
    box-shadow: inset 5px 0 #ddd;
}

h1 + blockquote p {
    margin-top: 10px;
    color: #aaa;
    margin-bottom: 40px;
}

main .highlight-wrap-hover {
    background: #f7aaaa;
}

.my-remove-tip {
    box-sizing: border-box;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 3px;
    height: 20px;
    width: 40px;
    color: #fff;
    background: #444;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    line-height: 18px;
    overflow: visible;
}

.my-remove-tip::after {
    content: '';
    position: absolute;
    left: 16px;
    bottom: -4px;
    border-color: #444 transparent transparent;
    border-width: 4px 4px 0;
    border-style: solid;
    height: 0;
    width: 0;
}

.op-panel {
    box-sizing: border-box;
    padding: 1px 5px 6px 8px;
    position: fixed;
    top: 50px;
    left: 15px;
    background: rgba(0, 0, 0, .1);
    border-radius: 3px;
    border: 1px dashed #aaa;
}

.op-panel a {
    position: absolute;
    right: 10px;
    bottom: 12px;
    height: 18px;
    width: 18px;
    opacity: .7;
}

.op-panel a:hover {
    opacity: 1;
}

.op-panel svg {
    height: 18px;
    width: 18px;
}

.op-panel input[type="radio"] {
    opacity: 1;
    width: auto;
    position: static;
    line-height: normal;
    height: 15px;
    vertical-align: middle;
    margin-right: 5px;
}

.op-panel .op-name {
    margin-right: 0;
}

.op-panel label {
    font-size: 12px;
    margin-right: 2px;
}

.op-panel .op-btn {
    display: block;
    font-size: 12px;
}

.op-panel .op-btn.disabled {
    cursor: not-allowed;
}

@media screen and (max-width: 1150px) {
    main {
        padding: 0 15px;
        overflow-x: hidden;
    }

    .op-panel {
        right: 5vw;
        bottom: 5vh;
        left: auto;
        top: auto;
        background-color: rgba(0, 0, 0, .9);
        color: #fff;
    }
}